<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pages.component.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Alejandra Sagasta</title>
</head>
<body>
    <header class="encabezado">
        <nav class="nav__left">
            <img src="../../../assets/ApLogo_.jpg" alt="logo argentina programa">
            <span>#Yo Programo 2da Edición</span>
        </nav>
        <nav class="nav__right">
            <ul class="social">
                <li><a href="https://www.linkedin.com/in/mar%C3%ADa-alejandra-sagasta-20792624/" class="fa fa-linkedin"></a></li>
                <li><a href="https://twitter.com/AleSagas" class="fa fa-twitter"></a></li>
                <li><a href="https://www.facebook.com/AleSagasta" class="fa fa-facebook"></a></li>
                <li><a href="#fc"><button name="ingresar" class="btn" id="ingresar"><i class="material-symbols-outlined">Login</i> Login </button></a></li>
            </ul>
        </nav>
    </header>
    <hr>
    <div class="container">
        <section class="banner" id="cero">
            <div class="principal">
                <img src="../../../assets/banner5.jpg"  alt="banner principal">
            </div>
            <div class="secundaria">
                <img src="../../../assets/perfil.jpg" alt="foto perfil">
            </div>
            <div class="informacion">
                <a href="#" class="editar"><span class="material-symbols-outlined">drive_file_rename_outline</span></a>
                <p><strong>María Alejandra Sagasta</strong></p>
                <p><u>Abogada U.B.A.</u></p>
                <p> Buenos Aires (Argentina) <a href="#">Informacion de contacto</a></p>
                <p>Entusiasta en programación, Abogada Especialista en Derecho del Trabajo</p>
            </div>
        </section>

        <section class="acercademi" id="uno">
            <a href="#" class="editar"><span class="material-symbols-outlined">drive_file_rename_outline</span></a>
            <h2>Acerca de Mí</h2>
            <p class="infomi">Soy <i>Abogada</i>, recibida en la Facultad de Derecho de Buenos Aires. Me especializo en Derecho Laboral y cuento con más de diez años de experencia en el área. En los inicios de mi carrera profesional comence realizando tareas introductorias a la gestión de expedientes y seguimiento de los mismos para estudios de gran reconocimiento y envergadura.</p>
            <p class="infomi">Más tarde comencé mi desarrollo profesional el área legal de una importante empresa de seguros, fue aquí cuando comenzó mi pasión por la programación y el desarrollo de potenciales herramientas orientadas a la optimización de la gestión diaria. En una primera etapa los desarrollos en programación los fue realizando a nivel personal y conforme acrecentaba conocimientos los fui exportando a diferentes sectores y equipos dentro del área.</p>
            <p class="infomi">La pasión se convitió en algo más y fue en ese momento que decidí aprovechar la maravillosa oportunidad que brinda el Curso Completo de Argentina Programa.</p>
        </section>

        <section class="experiencia" id="dos">
            <a href="#" class="editar"><span class="material-symbols-outlined">drive_file_rename_outline</span></a>
                <h2>Experiencia</h2>
                <ul class="trabajo">
                    <li class="empresa"><strong>Galeno Seguros</strong></li>
                    <li class="puesto">Jefa y Lider de Equipo</li>
                    <li class="descripcion">Coordinación y gestión de juicios internalizados. Control, seguimiento, actualización de estados procesales en el sistema interno. Control y seguimiento de estudios jurídicos externos. Interrelación con las diferentes áreas de la empresa, asistencia a Gerencia en la confección del presupuesto, determinación de estrategias de gestión. Intercambio con organismos de control. Seguimiento de auditoría. Reporte y detección de fraudes. Enero 2014 Coordinadora Juicios Internos Control, seguimiento de juicios y jurídicos externos. Interrelación con las diferentes áreas de la empresa. Equipo a Cargo Febrero 2011 Abogada Control de cartera masiva de juicios Confección de escritos de mero trámite y de fondo Gestiones conciliatorias</li>
                    <li class="empresa"><strong>Ministerio de Trabajo y Seguridad Social - Dirección Acciones Judiciales</strong>
                    <li class="puesto">Abogada Senior</li>
                    <li class="descripcion">Análisis jurídico de casos Control de cartera masiva de juicios Confección de escritos de mero trámite y de fondo Asistencia a audiencias Gestiones conciliatorias Juicios Ejecutivos a Cargo</li>
                    <li class="empresa"><strong>Procuración General GCBA Dirección Juicios Especiales</strong>
                    <li class="puesto">Procuradora</li>
                    <li class="descripcion">Análisis jurídico de casos Confección de escritos de mero trámite y de fondo Procuración y control judicial de expedientes Confección de cédulas y oficios Trámites bancarios Tareas Administrativas</li>
                </ul>
        </section>

        <section class="educacion" id="tres">
            <a href="#" class="editar"><span class="material-symbols-outlined">drive_file_rename_outline</span></a>
            <h2>Educacion</h2>
            <h3>Formación Académica</h3>
            <div class="estudios">
                <h4>Título</h4>
                <h4>Universidad</h4>
                <p class="descripcion"> Carrera de Especialización en Derecho del Trabajo</p>
                <img src="../../../assets/ubalogo.jpg" alt="Logo UBA" class="logoed">
                <p class="descripcion"> Bachiller Universitario en Derecho</p>
                <img src="../../../assets/ubalogo.jpg" alt="Logo UBA" class="logoed">
                <p class="descripcion"> Abogada Especialista en Derecho del Trabajo</p>
                <img src="../../../assets/ubalogo.jpg" alt="Logo UBA" class="logoed">
            </div>
            <hr class="formacion">
            <h3>Idiomas</h3>
            <div class="idiomas">
                <h4>Idioma</h4>
                <h4>Nivel</h4>
                <h4>Instituto</h4>
                <p class="idioma">Ingles</p>
                <p class="nivel">Nivel Avanzado</p>
                <img src="../../../assets/logoingles.jpg" alt="Logo Cultural Inglesa" class="logoed">
                <p class="idioma">Portugués</p>
                <p class="nivel">Nivel Avanzado</p>
                <img src="../../../assets/logoportugues.jpg" alt="Logo Instituto Portuges" class="logoed">
            </div>
        </section>

        <section class="habilidades" id="cuatro">
            <a href="#" class="editar"><span class="material-symbols-outlined">drive_file_rename_outline</span></a>
            <h2>Habilidades</h2>
            <div class="skills">
                <h3>Hard Skills</h3>
                <h3>Soft Skills</h3>
                <div class="hard">
                        <div class="outer-box">
                            <p class="inner-box">Derecho 100%</p>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                version="1.1"
                                width="200px"
                                height="200px">
                                <defs>
                                    <linearGradient id="GradientColor">
                                        <stop offset="0%" stop-color="#e91e63" />
                                        <stop offset="100%" stop-color="#673ab7" />
                                    </linearGradient>
                                </defs>
                                <circle cx="100" cy="100" r="80" stroke-linecap="round" />
                            </svg>
                        </div>
                        <div class="outer-box">
                            <p class="inner-box">Informática 95%</p>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                version="1.1"
                                width="200px"
                                height="200px">
                                <defs>
                                <linearGradient id="GradientColor">
                                    <stop offset="0%" stop-color="#e91e63" />
                                    <stop offset="95%" stop-color="#673ab7" />
                                </linearGradient>
                                </defs>
                                <circle cx="100" cy="100" r="80" stroke-linecap="round" />
                            </svg>
                        </div>
                        <div class="outer-box">
                            <p class="inner-box">Motivación 100%</p>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                version="1.1"
                                width="200px"
                                height="200px">
                                <defs>
                                <linearGradient id="GradientColor">
                                    <stop offset="0%" stop-color="#e91e63" />
                                    <stop offset="100%" stop-color="#673ab7" />
                                </linearGradient>
                                </defs>
                                <circle cx="100" cy="100" r="80" stroke-linecap="round" />
                            </svg>
                        </div>
                </div>
                <div class="soft">
                        <div class="outer-box">
                            <p class="inner-box">Trabajo en equipo 80%</p>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="200px" height="200px">
                                <defs>
                                    <linearGradient id="GradientColor">
                                        <stop offset="100%" stop-color="#e91e63" />
                                        <stop offset="0%" stop-color="#673ab7" />
                                    </linearGradient>
                                </defs>
                                <circle cx="100" cy="100" r="80" stroke-linecap="round" />
                            </svg>
                        </div>
                        <div class="outer-box">
                            <p class="inner-box">Gestión del tiempo 90%</p>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="200px" height="200px">
                                <defs>
                                    <linearGradient id="GradientColor">
                                        <stop offset="100%" stop-color="#e91e63" />
                                        <stop offset="0%" stop-color="#673ab7" />
                                    </linearGradient>
                                </defs>
                                <circle cx="100" cy="100" r="80" stroke-linecap="round" />
                            </svg>
                        </div>
                        <div class="outer-box">
                            <p class="inner-box">Comunicación 85%</p>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="200px" height="200px">
                                <defs>
                                    <linearGradient id="GradientColor">
                                        <stop offset="100%" stop-color="#e91e63" />
                                        <stop offset="0%" stop-color="#673ab7" />
                                    </linearGradient>
                                </defs>
                                <circle cx="100" cy="100" r="80" stroke-linecap="round" />
                            </svg>
                        </div>
                </div>
            </div>
        </section>

        <section class="proyectos" id="cinco">
            <a href="#" class="editar"><span class="material-symbols-outlined">drive_file_rename_outline</span></a>
            <h2>PROYECTOS</h2>
            <h3>Mi Primer Porfolio Web</h3>
            <p>Iniciado en 08/2022</p>
            <p>Se trata de un proyecto integrador que tiene como objetivo poder aplicar los para aplicar lo aprendido y que te evaluemos, puedas publicar el portfolio y usarlo como carta de presentación</p>
            <h3>Gestion Integral de Juicios</h3>
            <p>Iniciado en 2016</p>
            <p>Se trata de un proyecto escrito en Visual Basic para Excel y Outlook a través del cual se puede gestionar grandes volumenes de datos. Permite realizar reportes de Gestion y enviarlos de manera personalizada a su referentes. Permite Realizar valorizaciones, registrarlas y remitirlas a los diferentes interlocutores de manera diferenciada</p>
            <h3>Gestion de Mesa de Entradas y Manager de Mesa de Entradas</h3>
            <p>Iniciado en 2022</p>
            <p>Se trata de un proyecto escrito en Visual Basic para Excel y Outlook a través del cual se puede registrar grandes volumenes de datos Permite extraer datos de repositorios compartidos, unificarlos y crear copias de seguridad Permite realizar reportes de Gestion y enviarlos de manera personalizada a su referentes</p>
        </section>
    </div>
    <hr>
    <footer class="footer">
        <nav class="nav__footer">
            <a href="#cero">Inicio</a>
            <a href="#uno">Acerca de Mi</a>
            <a href="#dos">Experiencia</a>
            <a href="#tres">Educación</a>
            <a href="#cuatro">Habilidades</a>
            <a href="#cinco">Proyectos</a>
        </nav>
        <p>Copyright ©0022Ale - Todos los derechos reservados</p>
    </footer>
</body>
</html>
