<section class="educacion" id="tres">
  <a href="#" class="editar"><span class="material-symbols-outlined">drive_file_rename_outline</span></a>
  <h2>Educacion</h2>
  <h3>Formación Académica</h3>
  <div class="estudios">
      <h4>Título</h4>
      <h4>Universidad</h4>
      <p class="descripcion"> Carrera de Especialización en Derecho del Trabajo</p>
      <img src="/img/ubalogo.jpg" alt="Logo UBA" class="logoed">
      <p class="descripcion"> Bachiller Universitario en Derecho</p>
      <img src="/img/ubalogo.jpg" alt="Logo UBA" class="logoed">
      <p class="descripcion"> Abogada Especialista en Derecho del Trabajo</p>
      <img src="/img/ubalogo.jpg" alt="Logo UBA" class="logoed">
  </div>
  <hr class="formacion">
  <h3>Idiomas</h3>
  <div class="idiomas">
      <h4>Idioma</h4>
      <h4>Nivel</h4>
      <h4>Instituto</h4>
      <p class="idioma">Ingles</p>
      <p class="nivel">Nivel Avanzado</p>
      <img src="/img/logoingles.jpg" alt="Logo Cultural Inglesa" class="logoed">
      <p class="idioma">Portugués</p>
      <p class="nivel">Nivel Avanzado</p>
      <img src="/img/logoportugues.jpg" alt="Logo Instituto Portuges" class="logoed">
  </div>
</section>
