<section class="educacion" id="tres">
  <a href="#" class="editar"><i class="fa fa-edit"></i></a>
  <h2>Educacion</h2>
  <h3>Formación Académica</h3>
  <div class="estudios">
    <div *ngFor="let estudios of estudiosList">
        <ul>
          <h4>Carrera</h4>
          <li>
             <p class="descripcion">{{estudios.carrera}}</p>
          </li>
          <h4>Universidad</h4>
          <li>
            <img [src]="estudios.logouniversidad" class="logoed"
              />
          </li>
        </ul>
    </div>
    <hr class="formacion">
    <h3>Idiomas</h3>
    <div class="idiomas">
        <div *ngFor="let formacion of formacionList">
          <ul>
            <li>
              <p class="idioma">{{formacion.idioma}}</p>
            </li>
            <li>
              <p class="nivel">{{formacion.nivel}}</p>
            </li>
            <li>
              <img [src]="formacion.logo" class="logoed"
              />
            </li>
          </ul>
        </div>
    </div>
  </div>
</section>
