<section class="proyectos" id="cinco">
  <a href="#" class="editar"><i class="fa fa-edit"></i></a>
  <h2>PROYECTOS</h2>
  <h3>Mi Primer Porfolio Web</h3>
  <p>Iniciado en 08/2022</p>
  <p>Se trata de un proyecto integrador que tiene como objetivo poder aplicar los para aplicar lo aprendido y que te evaluemos, puedas publicar el portfolio y usarlo como carta de presentación</p>
  <h3>Gestion Integral de Juicios</h3>
  <p>Iniciado en 2016</p>
  <p>Se trata de un proyecto escrito en Visual Basic para Excel y Outlook a través del cual se puede gestionar grandes volumenes de datos. Permite realizar reportes de Gestion y enviarlos de manera personalizada a su referentes. Permite Realizar valorizaciones, registrarlas y remitirlas a los diferentes interlocutores de manera diferenciada</p>
  <h3>Gestion de Mesa de Entradas y Manager de Mesa de Entradas</h3>
  <p>Iniciado en 2022</p>
  <p>Se trata de un proyecto escrito en Visual Basic para Excel y Outlook a través del cual se puede registrar grandes volumenes de datos Permite extraer datos de repositorios compartidos, unificarlos y crear copias de seguridad Permite realizar reportes de Gestion y enviarlos de manera personalizada a su referentes</p>
</section>
