<section class="experiencia" id="dos">
  <a href="#" class="editar"><span class="material-symbols-outlined">drive_file_rename_outline</span></a>
      <h2>Experiencia</h2>
      <ul class="trabajo">
          <li *ngFor="let experiencia of experienciaList" class="empresa"><strong>{{experiencia.empresa}}</strong></li>
          <li *ngFor="let experiencia of experienciaList" class="puesto">{{experiencia.puesto}}/li>
          <li *ngFor="let experiencia of experienciaList" class="descripcion">{{experiencia.descripcion}}</li>
          <li *ngFor="let experiencia of experienciaList" class="empresa"><strong>{{experiencia.empresa}}</strong>
          <li *ngFor="let experiencia of experienciaList" class="puesto">{{experiencia.puesto}}</li>
          <li *ngFor="let experiencia of experienciaList" class="descripcion">{{experiencia.descripcion}}</li>
          <li *ngFor="let experiencia of experienciaList" class="empresa"><strong>{{experiencia.empresa}}</strong>
          <li *ngFor="let experiencia of experienciaList" class="puesto">{{experiencia.puesto}}</li>
          <li *ngFor="let experiencia of experienciaList"   class="descripcion">{{experiencia.descripcion}}</li>
      </ul>
</section>

