<div class="formcontainer">
  <div class="logincontainer" id="ingreso">
      <h3>Bienvenido a Mi Porfolio </h3>
      <form method="post" id="fc">
          <div class="formulario">
              <label for="username">Usuario</label>
              <input class="inpunt" type="text" placeholder="Ingrese Nombre Usuario" name="username" id="username" required>
              <label for="password">Password</label>
              <input class="inpunt" type="text" placeholder="Ingrese contraseña" name="password" id="password" required>
          </div>
          <div class="opciones">
              <div>
                  <input type="checkbox" id="rememberme">
                  <label for="rememberme">Recordar mis datos</label>
                  <a href="#">Olvide mi  password</a>
              </div>
          <div class="formulario">
              <a href="/index.html"><button type="button" name="cancelar"class="cancel">X</button></a>
              <a href="/indexedicion.html"><button type="submit" name="btnlogin" class="btnlogin" id="btnlogin">LOGIN</button></a>
          </div>
        </form>
  </div>
</div>
