<div class="formcontainer">
  <div class="logincontainer" id="ingreso">
      <h3>Bienvenido a Mi Porfolio </h3>
      <form [formGroup]="form">
          <div class="formulario">
              <label for="username">Usuario</label>
              <input class="inpunt" type="email" placeholder="Ingrese Nombre Usuario" name="username" id="username" required>
              <label for="password">Password</label>
            </div>
          </br>
          <div>
              <input class="inpunt" type="password" placeholder="Ingrese contraseña" name="password" id="password" required>
          </div>
        </br>
          <div class="formulario">
              <a href="/index.html"><button type="button" name="cancelar"class="cancel">X</button></a>
              <a href="../pages/pages.component.html"><button type="submit" name="btnlogin" class="btnlogin" id="btnlogin">LOGIN</button></a>
          </div>
        </form>
  </div>
</div>
