<div class="formcontainer" id="seis">
  <div class="logincontainer" id="ingreso">
      <h1>LOGIN USUARIO</h1>
      <form id="siete">
          <div class="formulario">
              <label for="inputEmail" class="form__label">Email: </label>
              <input type="email" class="inpunt" placeholder="Ingrese correo electrónico" formcControlName="userId" id="email" required>
          </div>
          <br/>
          <div class="formulario">
              <label for="InputPassword" class="form__label">Password: </label>
              <input type="password" class="inpunt" class="inpunt" placeholder="Ingrese contraseña" formcControlName="password" id="password" required>
          </div>
          <br/>
          <div class="formulario">
              <button type="submit" class="btnlogin">Iniciar Sesión</button>
          </div>
          <div class="formulario">
              <a href="/index.html"><button class="cancel" type="button" name="cancelar"><i class="fa fa-close" aria-hidden="true"></i></button></a>
          </div>
      </form>
  </div>
</div>
